<div>
  <div class="container flex justify-around items-center flex-wrap gap-10 mt-20">
    <div class="max-w-md flex flex-col gap-5 items-start ">
      <h2 class="font-bold text-4xl">مكتب جدة للاستثمار</h2>
      <p class="text-xl text-zinc-600 font-semibold">اعمال تركيب السيراميك والرخام ,أعمال الصبغ والدهانات, تركيب ورق
        الجدران, تركيب المواد العازلة, أعمال
        الأسقف
        المعلقة , اعمال الالومنيوم والزجاج , تركيب الاجزاء المعدنية</p>
      <button class="btn">اعرف اكثر</button>
    </div>
    <div class="max-w-md">
      <img src="assets/real-estate-main-add.png" alt="">
    </div>
  </div>
</div>