.landing {
  background: url("../../../../../assets/real-estate-deals.jpg") no-repeat;
  background-size: cover;
  background-position: right;
}
form {
  > div {
    > div {
      width: 100%;
      max-width: 200px;
    }
  }
}
